import React, { memo } from 'react'
import { useSelector, shallowEqual } from 'react-redux'

export default memo(function <%= name %>() {

    const state = useSelector((store) => (store.<%= nameLow %>), shallowEqual)
    
    return (
        <div>
            <h2><%= name %></h2>
            
        </div>
    )
})
